/*Formatação Geral*/
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}
a {
    color: white;
    text-decoration: none;
}
/*Formatação Cabeçalho*/
header {
    background-color: #3B8686;
    padding: 30px 10vw 30px 10vw;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 5vw  0 0;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav .atual {
    background: rgba(255, 255, 255, 0.2);
    padding: 4px 20px 4px 20px;
    border-radius: 16px;
}
header nav .atual:hover {
    background: rgba(255, 255, 255, 0.5);
}
/*Formatação Home*/
section.banner {
    background:linear-gradient(rgba(121, 189, 154, 0.2), rgba(121, 189, 154, 0.2)),
    url(../img/bannerfoto.png) no-repeat center center;
    background-size: 100% auto;
    padding: 25vw 10vw 3vw 10vw;
}
section.banner h2 {
    color: white;
    font-size: 3rem;
    width: 30%;
    background: rgba(59, 134, 134, 0.5);
    padding: 2vw;
}
